<!-- -*- mode: XML -*- -->
<launch>

  <!-- Debug Arguments -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find baxter_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="robot_description" value="baxter/robot_description"/>
  </include>

  <!-- Launch visualizer -->
  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
    args="-d $(find moveit_shelf_picking)/launch/moveit.rviz" output="screen">
  </node>

  <!-- Ordered left to right, then top to bottom -->
  <node pkg="tf" type="static_transform_publisher" name="tfdummy6" args="0 -4 2 0 0 0 /world /world_visual1 10" />
  <node pkg="tf" type="static_transform_publisher" name="tfdummy5" args="0 -2 2 0 0 0 /world /world_visual2 10" />
  <node pkg="tf" type="static_transform_publisher" name="tfdummy4" args="0 0  2 0 0 0 /world /world_visual3 10" />

  <node pkg="tf" type="static_transform_publisher" name="tfdummy3" args="0 -4 0 0 0 0 /world /world_visual4 10" />
  <node pkg="tf" type="static_transform_publisher" name="tfdummy2" args="0 -2 0 0 0 0 /world /world_visual5 10" />
  <node pkg="tf" type="static_transform_publisher" name="tfdummy1" args="0 0  0 0 0 0 /world /world_visual6 10" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="tfdummy1" args="0 2  0 0 0 0 /world /world_visual6 10" /> -->
</launch>
